# =========================
# Java / Spring Boot
# =========================

backend/target/
*.class
*.log

# =========================
# IntelliJ IDEA
# =========================

.idea/
*.iml

# =========================
# VS Code
# =========================

.vscode/

# =========================
# Node / React
# =========================

frontend/node_modules/
frontend/dist/

# =========================
# Environment variables
# =========================

.env
.env.*
!.env.example

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db
